{% extends 'base.html.twig' %}

{% block body %}
     Welcome to PlayitOwl
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('video_download') }}">Download a video</a>
    {% endif %}

{% endblock %}
