{% extends ':shared:layout.html.twig' %}
{% block title %}xCart: New category{% endblock %}
{% block body %}
    <a href="{{ path('category_list') }}">Back to the list</a>
    <h1>Category creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn btn-primary" />
    {{ form_end(form) }}

{% endblock %}
