{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    xCart: Home
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/stylesheets/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}

    <div class="row">
        <b>Currently available products:</b>
    </div>
    <div class="row">
        {% if categories|length > 0 %}
            {% for category in categories %}
                {% embed 'AppBundle:Product:category.html.twig' with { 'category' : category } %}
                {% endembed %}
            {% endfor %}
        {% else %}
            <p style="font-size: 20px; margin-top: 20px;">
                Sorry but we don`t currently have any products available for you :(
            </p>
        {% endif %}

    </div>

{% endblock %}