{% extends ':shared:layout.html.twig' %}
{% block title %}Promotion creation{% endblock %}
{% block body %}
    <a href="{{ path('promotion_index') }}">Back to the list</a>
    <h1>Promotion creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Create" />
    {{ form_end(form) }}

{% endblock %}
