{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    xCart: Home
{% endblock %}
{% block content %}
    <div class="row">
        <b>Currently available products:</b>
    </div>
    <div class="row">
        {% if products|length > 0 %}
            {% for category in products %}
                {% embed 'AppBundle:Product:category.html.twig' with { 'category' : category } %}
                {% endembed %}
            {% endfor %}
        {% else %}
            <p style="font-size: 20px; margin-top: 20px;">
                Sorry but we don`t currently have any products available for you :(
            </p>
        {% endif %}

    </div>

{% endblock %}